.bind-lecturer {
    padding: .3rem;
    border-top: .14rem solid #F5F5F5;
    background-color: #FFFFFF;
}

.bind-lecturer-hd {
    font-weight: 500;
    font-size: .32rem;
    line-height: .45rem;
    color: #282828;
}

.bind-lecturer-bd {
    margin-top: .2rem;
}

.bind-lecturer .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .3rem;
    border-radius: .04rem;
    background-color: #F7F7F7;
}

.bind-lecturer img {
    width: .9rem;
    height: .9rem;
    border-radius: 50%;
    vertical-align: middle;
}

.bind-lecturer .item-bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0 .18rem;
}

.bind-lecturer .name {
    font-weight: 500;
    font-size: .3rem;
    line-height: .3rem;
    color: #282828;
}

.bind-lecturer .tag-group {
    margin-top: .04rem;
}

.bind-lecturer .tag {
    display: inline-block;
    padding: .02rem .12rem;
    border-radius: .04rem;
    margin-right: .05rem;
    background-color: #FFF0E5;
    font-size: .22rem;
    line-height: .3rem;
    color: #FF6B00;
}

.bind-lecturer .tag:last-child {
    margin-right: 0;
}

.bind-lecturer .iconfont {
    font-size: .24rem;
    color: #333333;
}