.my-account {
    padding-left: 54px;
    background-color: #fff;
}

.my-account .title {
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 8px;
    font-size: 18px;
    color: #282828;
}

.my-account .content {
    border-top: 1px solid #ececec;
}

.my-account .wrapper-title {
    padding-top: 34px;
    padding-left: 10px;
    padding-bottom: 12px;
    font-size: 18px;
    color: #282828;
}

.my-account .wrapper-content {
    padding-right: 46px;
}

.my-account .item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 26px 8px 26px 16px;
    border-bottom: 1px dashed #ddd;
    font-size: 14px;
    color: #282828;
}

.my-account .item:not(:first-child) {
    height: 70px;
}

.my-account .item > div:first-child {
    width: 105px;
    color: #777;
}

.my-account .item > div:nth-child(2) {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 15px;
    padding-left: 15px;
}

.my-account .item > div.el-input {
    padding-right: 0;
    padding-left: 0;
}

.my-account .el-input__inner {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    font-size: 14px;
    color: #282828;
}

.my-account .el-input__inner:-moz-read-only {
    border-color: transparent;
}

.my-account .el-input__inner:read-only {
    border-color: transparent;
}

.my-account .item .el-button {
    margin-left: 50px;
    color: #2c8eff;
}

.my-account .item:first-child .el-button {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
}

.my-account .el-upload-dragger {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    font-size: 0;
    line-height: 80px;
}

.my-account .el-upload-dragger img {
    width: 100%;
    height: 100%;
}

.my-account .el-upload-dragger .avatar-uploader-icon {
    vertical-align: middle;
    font-size: 28px;
    color: #d9d9d9;
}

.my-account .bottom {
    padding-top: 38px;
    padding-right: 44px;
    padding-bottom: 43px;
    text-align: right;
}

.my-account .bottom .el-button {
    padding: 11px 48px;
    border-color: #2c8eff;
    background-color: #2c8eff;
    font-size: 16px;
    color: #fff;
}