@font-face {
  font-family: "iconfont"; /* Project id 2925168 */
  src: url('iconfont.woff2?t=1652145459699') format('woff2'),
       url('iconfont.woff?t=1652145459699') format('woff'),
       url('iconfont.ttf?t=1652145459699') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qian:before {
  content: "\e621";
}

.icon-beizhu:before {
  content: "\e61e";
}

.icon-huifu:before {
  content: "\e61f";
}

.icon-tuikuan:before {
  content: "\e620";
}

.icon-xueyuan:before {
  content: "\e61d";
}

.icon-kaliebiao:before {
  content: "\e61c";
}

.icon-duihuanma:before {
  content: "\e61a";
}

.icon-daochu:before {
  content: "\e61b";
}

.icon-baoming:before {
  content: "\e619";
}

.icon-renshutongji:before {
  content: "\e617";
}

.icon-tuiguangfangshi:before {
  content: "\e618";
}

.icon-dingdanxiangqing:before {
  content: "\e616";
}

.icon-dingdantongji:before {
  content: "\e615";
}

.icon-xiazai:before {
  content: "\e613";
}

.icon-tuijianshouye:before {
  content: "\e614";
}

.icon-shangpintuijian:before {
  content: "\e60b";
}

.icon-huifang:before {
  content: "\e60c";
}

.icon-pinglunchakan:before {
  content: "\e60d";
}

.icon-zhibotixing:before {
  content: "\e60e";
}

.icon-kechengtuijian:before {
  content: "\e60f";
}

.icon-quzhibo:before {
  content: "\e610";
}

.icon-jiabinshezhi:before {
  content: "\e611";
}

.icon-yonghuguanli:before {
  content: "\e612";
}

.icon-guanliankaoshi:before {
  content: "\e600";
}

.icon-yidongshouye:before {
  content: "\e601";
}

.icon-guanlianzhengshu:before {
  content: "\e602";
}

.icon-xuexijilu:before {
  content: "\e603";
}

.icon-bianji:before {
  content: "\e604";
}

.icon-pintuanshezhi:before {
  content: "\e605";
}

.icon-chakanpintuan:before {
  content: "\e606";
}

.icon-guanlianlianxi:before {
  content: "\e607";
}

.icon-guanlianziliao:before {
  content: "\e608";
}

.icon-PCshouye:before {
  content: "\e609";
}

.icon-shanchu:before {
  content: "\e60a";
}

